@using Firat.Eticaret.Models;
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "Index";
}

    <div class="w3-content w3-section" >
        <img class="mySlides" src="../Upload/hp1.PNG" style="width:100%">
        <img class="mySlides" src="../Upload/hp2.PNG" style="width:100%">
        <img class="mySlides" src="../Upload/hp3.PNG" style="width:100%">
        <img class="mySlides" src="../Upload/hp4.PNG" style="width:100%">
        <img class="mySlides" src="../Upload/hp5.PNG" style="width:100%">
    </div>

    <div class="container pb-5">
        @Html.Partial("_ProductList", Model)
    </div>

    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 3000);
        }
    </script>
